/* You can add global styles to this file, and also import other style files */

.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #333;
    background-color: #eee;
    text-transform: capitalize;
}
